.login{width:280px;height:300px;position:absolute;top:40%;left:50%;margin:-140px 0 0 -150px;color:#fff}
.bt{font-size:20px;text-align:center;margin:0 0 40px 0;}
.login form{width:250px;margin:0 auto}
.login form label{font-size:18px;}
#username{margin:10px 0 20px 20px;}
#password{margin:10px 0 20px 20px;}
.tiaokuan{margin:0 0 20px 10px;}
.zd{width:190px;margin:0 auto}
.zhuc{color:#000;width:80px;height:30px;font-size:18px;}
.denglu{color:#000;width:80px;height:30px;font-size:18px;margin-left:20px;}

