.xq-cont{
	height:auto;
}
.xq-cont span{
	padding-left:0.5rem;
}
.xq-js{
	width:100%;
	height:2rem;
	font-size:0.85rem;
	font-weight:600;
	color:orange;
    margin-top:0.5rem;
	line-height:2.4rem;
}
.xq-js img{
	width:0.8rem;
	height:0.8rem;
	margin-right:0.5rem;
	margin-left:1rem;
}
.faburen,.inport,.errors,.pin,.times,.bugs-name{
	width:93%;
	margin-left:0.8rem;
	margin-right:0.5rem;
	/*border:0.05rem solid #92A3B2;*/
	height:2rem;
	font-size:0.75rem;
	color:white;
	line-height:2rem;
	float:left;
}
.bug-xq{
	width:93%;
	margin-top:0.5rem;
	margin-left:0.8rem;
	margin-right:0.5rem;
	height:8rem;
	font-size:0.75rem;
	float: left;
	color:white;
	/*border:0.05rem solid #098DDF ;*/
}
.xqms{
	
}

.bug-n{
	text-indent: 1.2rem;
}
.xiufu{
	width:3rem;
	height:1.5rem;
	font-size:0.9rem;
	color:#000000;
	float:right;
	margin-right:0.9rem;
	/*margin-left:;*/
}
.im,.im2,.im3{
	width:3rem;
	height:1.2rem;
	
	margin-top:0.2rem;
	color:#FFFFFF;
	font-size:0.7rem;
	text-align:center;
	line-height:1.2rem;
	display: inline-block;
	margin-left:0.5rem;
}
.im{
	background:#AF0004;
}
.im2{
	background:orange;
}
.im3{
	background:limegreen;
}
.xf{width:3rem;
	height:1.5rem;
	font-size:0.9rem;
	color:#000000;
	float:right;
	margin-right:0.9rem;
	margin-top:50px;}