<div id="tb">
	添加bug
</div>
<div id="ct">
	<!-- 错误分类 -->
	<p id="classify">错误分类：</p>
	<div class="classify">
		<label>
			<input type="checkbox" />设计
		</label>
		<label>
			<input type="checkbox" />前端
		</label>
		<label>
			<input type="checkbox" />后台
		</label>
	</div>
	
	<!-- 发生频率 -->
	<p id="frequency">发生频率：</p>
	<div class="frequency">
		<label>
			<input type="checkbox" />偶尔
		</label>
		<label>
			<input type="checkbox" />经常
		</label>
	</div>
	<!-- 重要性 -->
	<p id="importance">重要性：</p>
	<div class="importance">
		<label>
			<input type="checkbox" />重要
		</label>
		<label>
			<input type="checkbox" />中等
		</label>
		<label>
			<input type="checkbox" />一般
		</label>
	</div>
	<!-- 错误状态 -->
	<p id="status">错误状态：</p>
	<div class="status">
		<label>
			<input type="checkbox" />已指派
		</label>
		<label>
			<input type="checkbox" />已解决
		</label>
		<label>
			<input type="checkbox" />已关闭
		</label>
	</div>
	
	<!-- 简介 -->
	<p>简介</p>
	<text-angular ng-model="htmlVariable"></text-angular>
	<!-- 描述 -->
	<p>描述</p>
	<text-angular ng-model="htmlVariable"></text-angular>
</div>